{
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 80,
  "trailingComma": "all",
  "semi": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "",
    "^(@ivaoaero/(.*)$)|^(@ivaoaero$)",
    "^(@ivao/(.*)$)|^(@ivao$)",
    "",
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>",
    "^types$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.3.2",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
